@font-face {
	font-family: "Source Sans 3";
	src: url("source-sans-3-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Source Sans 3";
	src: url("source-sans-3-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Source Sans 3";
	src: url("source-sans-3-600.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Source Sans 3";
	src: url("source-sans-3-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
