@font-face {
	font-family: "Azo Sans";
	src: url("azo-sans-300.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Azo Sans";
	src: url("azo-sans-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Azo Sans";
	src: url("azo-sans-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Azo Sans";
	src: url("azo-sans-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
