@font-face {
	font-family: "Lato Italic";
	src: url("lato-italic-100.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Lato Italic";
	src: url("lato-italic-300.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Lato Italic";
	src: url("lato-italic-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lato Italic";
	src: url("lato-italic-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato Italic";
	src: url("lato-italic-900.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}
