@font-face {
	font-family: "Nimbus Sans L";
	src: url("nimbus-sans-l-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Nimbus Sans L";
	src: url("nimbus-sans-l-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}