@font-face {
	font-family: "Helvetica Neue LT Std";
	src: url("helvetica-neue-lt-std-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Helvetica Neue LT Std";
	src: url("helvetica-neue-lt-std-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
