@font-face {
	font-family: "Work Sans";
	src: url("work-sans-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Work Sans";
	src: url("work-sans-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Work Sans";
	src: url("work-sans-600.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}