@font-face {
	font-family: "Azo Sans Italic";
	src: url("azo-sans-italic-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Azo Sans Italic";
	src: url("azo-sans-italic-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Azo Sans Italic";
	src: url("azo-sans-italic-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}