@font-face {
	font-family: "Next Display";
	src: url("next-display-300.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Next Display";
	src: url("next-display-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Next Display";
	src: url("next-display-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Next Display";
	src: url("next-display-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Next Display";
	src: url("next-display-800.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
